{% extends 'base.html' %}
{% block titulo %} Lista de Usuarios {% endblock %}
{% block contenido %} 
<<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'registrar' %}"
            role="button"
            >Agregar Nuevo Usuario</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Usuario</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">No Cuenta </th>
                        <th scope="col">Carrera </th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        
                        <tr class="">
                            <td scope="row"> {{usuario.user}} </td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellidos}}</td>
                            <td>{{usuario.nocuenta}}</td>
                            <td>{{usuario.carrera}}</td>
                            <td> <a
                                name=""
                                id=""
                                class="btn btn-info"
                                href="{% url 'editar_u' usuario.nocuenta %}"
                                role="button"
                                >Editar</a>
                             | 
                             <a
                                name=""
                                id=""
                                class="btn btn-danger"
                                href="{% url 'eliminar_u' usuario.nocuenta %}"
                                role="button"
                                >Borrar</a>
                            
                             </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>

{% endblock %}

{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}