{% extends 'base.html' %}
{% block titulo %} Lista de Usuarios {% endblock %}
{% block contenido %} 
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>
{% endfor %}
<div class="card">
    <div class="card-header">
		<div class="row">
			<div class="col-12 col-sm-3">
				<a
				name=""
				id=""
				class="btn btn-success"
				href="{% url 'registrar' %}"
				role="button"
				>Agregar Nuevo Usuario</a>
			</div>
			<div class="col-12 col-sm-3">
				<form action="{% url 'usuarios' %}" method="get" class="form-search">
					<div class="input-group">
						<input type="text" name="keyword" value="{{ keyword }}" class="form-control" placeholder="Buscar usuarios..." />
						<button type="submit"><i class="fa fa-search"></i></button>
					</div>
					
				</form>
			</div>
			<div class="col-12 col-sm-3">
			</div>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Usuario</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">No.Cuenta</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido P</th>
                        <th scope="col">Apellido M</th>
                        <th scope="col">Area </th>
                        <th scope="col">Rol </th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        
                        <tr class="">
                            <td scope="row"> {{usuario.nocuenta}} </td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellidopaterno}}</td>
                            <td>{{usuario.apellidomaterno}}</td>
                            <td>{{usuario.area}}</td>
                            <td>{{usuario.get_group_display}}</td>
                            <td> <a
                                name=""
                                id=""
                                class="btn btn-info"
                                href="{% url 'editar_u' usuario.nocuenta %}"
                                role="button"
                                >Editar</a>
                             | 
                             <a
                                name=""
                                id=""
                                class="btn btn-danger"
                                href="{% url 'eliminar_u' usuario.nocuenta %}"
                                role="button"
                                onclick="return confirmarEliminacion()"
                                >Borrar
                            </a>
                            
                            <a
                                name=""
                                id=""
                                class="btn btn-info"
                                href="{% url 'acumular_puntos' usuario.nocuenta %}"
                                role="button"
                                >Acumular puntos
                            </a>
                                

                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>

<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este usuario?");
    }
</script>


{% endblock %}

{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
