{% extends 'usuarios/esqueleto.html' %}
{% block titulo %} Inicio de sesión {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">Inicio de Sesión</div>
    <div class="card-body">
        <h4 class="card-title">Accede a tu cuenta</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">No Cuenta:</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>

        {% if messages %}
        <ul class="mt-3">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="card-footer text-muted"></div>
</div>

{% endblock %}
