<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipousuarioField = document.getElementById('id_tipousuario');
        const areaField = document.getElementById('id_area');

        function toggleAreaField() {
            if (tipousuarioField.value === 'usuario') {
                areaField.closest('p').style.display = 'block';
            } else {
                areaField.closest('p').style.display = 'none';
                areaField.value = '';  // Limpiar el valor si no es usuario
            }
        }

        // Llamar a la función en el inicio y cuando cambie el valor de tipousuario
        toggleAreaField();
        tipousuarioField.addEventListener('change', toggleAreaField);
    });
    </script>

</body>    
</html>
