{% extends 'base.html' %}
{% block titulo %} Devolver Productos {% endblock %}
{% block contenido %}
{% if not usuario %}
<div class="m-4">
    <form class="d-flex" method="post" action="{% url 'rentas_activas' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Buscar usuario por NoCuenta o NoTrabajador"
            aria-label="Search" name="nocuenta-buscado">
        <button class="btn btn-info" type="submit">Buscar</button>
    </form>
</div>

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>
{% endfor %}

{% else %}
<div class="m-4">
    <form class="d-flex" method="post" action="{% url 'rentas_activas' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Buscar usuario por NoCuenta o NoTrabajador"
            aria-label="Search" name="nocuenta-buscado">
        <button class="btn btn-info" type="submit">Buscar</button>
    </form>
</div>

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>
{% endfor %}
    <div class="card-body bg-info text-white">
        <h4 class="card-title">Rentas Activas de {{usuario}}</h4>
        <div class="table-responsive m-0">
            <table class="table table-bordered table-info m-0">
                <thead>
                    <tr class="">
                        <th scope="col">Producto</th>
                        <th scope="col">Fecha de Prestamo</th>
                        <th scope="col">Fecha de Devolución Esperada</th>
                        <th scope="col">Devolver</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not rentas_activas %}
                    <tr class="">
                        <td scope="row"> ... </td>
                        <td> ... </td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    {% endif %}
                    {% for producto in rentas_activas %}
    
                    <tr class="">
                        <td scope="row"> {{producto.renta.id_producto.nombre}} </td>
                        <td>{{producto.renta.fecha_prestamo}}</td>
                        <td>{{producto.fecha_devolucion_esperada}}</td>
                        <td><a name="" id="" class="btn btn-success" href="{% url 'devolver' nocuenta=usuario id=producto.renta.id %}" role="button" onclick="return confirmarDevolucion('{{producto.renta.id_producto.nombre}}')">Devolver Producto</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

<script>
    function confirmarDevolucion(nombre) {
        return confirm(`¿Estás seguro de que deseas devolver el producto \"${nombre}\"?`);
    }
</script>

{% endblock %}