{% extends 'base.html' %}

{% block titulo %} Lista de Productos {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-sm-3">
                 <a
                name=""
                id=""
                class="btn btn-success"
                href="{% url 'crear' %}"
                role="button"
                >Agregar nuevo producto </a>
            </div>
            <div class="col-12 col-sm-3">
                <form action="{% url 'admin_productos' %}" method="get" class="form-search">
                    <div class="input-group">
                        <input type="text" name="keyword" value="{{ keyword }}" class="form-control" placeholder="Buscar producto..." />
                        <button type="submit" class="btn btn-light border">
                            <i class="fa fa-search text-secondary"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-3">
            </div>
        </div>
    </div>

    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción </th>
                        <th scope="col">Costo </th>
                        <th scope="col">Días de Renta </th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if productos %}
                        {% for producto in productos %}
                        <tr class="">
                            <td scope="row"> {{ producto.id }} </td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>
                                <img src="{{ producto.imagen.url }}" height="100">
                            </td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.costo }}</td>
                            <td>{{ producto.dias }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'editar' producto.id %}" role="button">Editar</a>
                                 | 
                                 <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteModal" data-producto-id="{{ producto.id }}" role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">No se encontraron productos para la búsqueda "{{ keyword }}"</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer text-muted">Footer</div>
</div>

<!-- Modal de advertencia cuando no se encuentren productos -->
<div class="modal fade" id="noResultsModal" tabindex="-1" aria-labelledby="noResultsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noResultsModalLabel">No se encontraron productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                No se encontraron productos que coincidan con tu búsqueda. Por favor, prueba con otra palabra clave.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% if not productos %}
        <script>
            $(document).ready(function(){
                $('#noResultsModal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
